/* Common */

:root{
    --main-light: #FCFBF8;
    --main-dark: #242321;
}

@font-face {
    font-family: "Archivo";
    src: url(./Assets/Fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf);
}

*{
    font-family: "Archivo";
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

a{
    all: unset;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

ul{
    padding-left: 0;
}

body{
    background-color: var(--main-light);
}

.container{
    padding-left: max(30px,3vw);
    padding-right: max(30px,3vw);
}

.linkButton{
    padding: min(10px, 2vw);
}

.btn{
    all: unset;
    cursor: pointer;
    padding: min(10px, 2vw);
    background-color: transparent;
    color: var(--main-light);
    border: none;
    display: inline;
    margin-top: max(20px, 5vh);
    font-size: max(16px, 1.5vw);
    font-weight: 200;
}

.btn:hover{
    text-decoration: underline;
    text-decoration-color: greenyellow;
    text-decoration-thickness: 10%;
}

h1{
    font-size: 72px;
    font-weight: 250;
    margin-bottom: 10px;
}
h2{    
    font-size: 60px;
    font-weight: 250;
    margin-bottom: 10px;
}
h3{
    font-size: 30px;
    font-weight: 200;    
    margin-bottom: 10px;
}

/* Header */
header{
    color: var(--main-dark);
}

header nav ul{    
    padding-top: max(15px,8vh);
    padding-bottom: max(15px,8vh);
    text-align: right;
}

header nav li{
    display: inline-block;
    margin-left: 25px;
}

#menuToggle{
    display: none;
}

@media only screen and (max-width: 480px){
    
    #menuToggle{
        display: block;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 350;        
    }
    #menuToggle:visited{
        text-decoration: none;
    }
    header nav ul{
        display: none;
        position: absolute;        
        width: 100%;
        height: 100%;
        transform: translate(-30px); 
        background-color: var(--main-light);        
        padding-top: 20px;
        padding-bottom: 20px;
    }
    header nav ul.active{
        display: block;
    }
    header nav li{
        display: block;
        margin: 0;
        margin-bottom: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
}

/* Showcase */

#showcase{
    display: flex;
    gap: min(50px, 5vw);
    color: var(--main-dark);
}

@media only screen and (max-width: 768px) {
    #showcase{
        display: block;
    }
    #showcaseText{
        margin: 0;
        margin-bottom: min(50px, 5vw);        
    }
    #showcaseImage{
        margin-bottom: min(50px, 5vw);
    }
}

#showcaseText{
    flex: 2;
    margin-top: 40px;
}

#showcaseImage{
    flex: 3;
}


#showcaseText p{
    font-size: 18px;
}

#showcaseImage img{
    width: 100%;
    display: block;
}

/* Projects */

#projects{
    background-color: var(--main-dark);
    color: var(--main-light);
    padding-top: max(15px,8vh);
    padding-bottom: max(15px,8vh);
}

#projects h3{
    font-size: max(28px, 2.5vw);
    font-weight: 200;
    margin-bottom: max(60px, 10vh);
}

#projects ul{
    padding-left: max(20px, 2vw);
}

#projects ul li{
    font-size: max(40px, 4vw);
    font-weight: 250;
    margin-bottom: max(35px, 5vh);
    letter-spacing: 0.3rem;
}

#projects ul li a{
    text-decoration-color: greenyellow;
    text-decoration-thickness: 5%;
    text-decoration-skip: 3px;
}

#projects .linkButton{
    display: block;
    margin-top: max(80px, 10vh);
    font-size: max(20px, 2vw);
    font-weight: 150;    
}

/* Testimony */

#testimony{
    background-image: url(./Assets/Images/testimonyPic.jpg), linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9));
    background-blend-mode: overlay;    
    object-fit: fill;
    display: flex;
    align-items: center;
}

#testimonyImage{
    flex: 2;
}

#testimony img{
    padding: 80px 40px;
    width: 100%;
}

#testimonyQuote{
    flex: 3;
    padding-top: 50px;
    padding-bottom: 50px;
}



#testimonyQuote h3{
    text-align: left;
    margin-top: 30px;
}

/* Contact */
#contact{
    background-color: var(--main-dark);
    color: var(--main-light);
    padding-top: 50px;
    padding-bottom: 50px; 
    text-align: center;  
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#contact form{
    display: block;
    width: 600px;
}

@media only screen and (max-width: 620px){
    #contact form{
        width: 100%;
    }
}

#contact form label{
    font-weight: 250;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

#contact h1{
    margin-bottom: 40px;
    text-align: center;
}

#contact form input, #contact form textarea{
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: none;
}