/* Common */

:root{
    --main-light: #FCFBF8;
    --main-dark: #242321;
}

@font-face {
    font-family: "Archivo";
    src: url(./Assets/Fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf);
}

*{
    font-family: "Archivo";
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

a{
    all: unset;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

ul{
    padding-left: 0;
}

body{
    background-color: var(--main-light);
}

.container{
    padding-left: max(30px,3vw);
    padding-right: max(30px,3vw);
}

.linkButton{
    padding: min(10px, 2vw);
}

/* Header */
header{
    color: var(--main-dark);
}

header nav ul{    
    padding-top: max(15px,8vh);
    padding-bottom: max(15px,8vh);
    text-align: right;
}

header nav li{
    display: inline-block;
    margin-left: 25px;
}

#menuToggle{
    display: none;
}

@media only screen and (max-width: 480px){
    
    #menuToggle{
        display: block;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 350;        
    }
    #menuToggle:visited{
        text-decoration: none;
    }
    header nav ul{
        display: none;
        position: absolute;        
        width: 100%;
        height: 100%;
        transform: translate(-30px); 
        background-color: var(--main-light);        
        padding-top: 20px;
        padding-bottom: 20px;
    }
    header nav ul.active{
        display: block;
    }
    header nav li{
        display: block;
        margin: 0;
        margin-bottom: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
}

/* Showcase */

#showcase{
    display: flex;
    gap: min(50px, 5vw);
    color: var(--main-dark);
}

@media only screen and (max-width: 480px) {
    #showcase{
        display: block;
    }
    #showcaseText{
        margin-bottom: min(50px, 5vw);
    }
    #showcaseImage{
        margin-bottom: min(50px, 5vw);
    }
}

#showcaseText{
    flex: 2;
}

#showcaseImage{
    flex: 3;
    background-color: var(--main-dark);
}

#showcaseText h1{
    font-size: 72px;
    font-weight: 250;
    margin-bottom: 10px;
}

#showcaseText p{
    font-size: 18px;
}

#showcaseImage img{
    width: 100%;
    display: block;
}

/* Projects */

#projects{
    background-color: var(--main-dark);
    color: var(--main-light);
    padding-top: max(15px,8vh);
    padding-bottom: max(15px,8vh);
}

#projects h3{
    font-size: max(28px, 2.5vw);
    font-weight: 200;
    margin-bottom: max(60px, 10vh);
}

#projects ul{
    padding-left: max(20px, 2vw);
}

#projects ul li{
    font-size: max(40px, 4vw);
    font-weight: 250;
    margin-bottom: max(35px, 5vh);
    letter-spacing: 0.3rem;
}

#projects ul li a{
    text-decoration-color: greenyellow;
    text-decoration-thickness: 5%;
    text-decoration-skip: 3px;
}

#projects .linkButton{
    display: block;
    margin-top: max(80px, 10vh);
    font-size: max(20px, 2vw);
    font-weight: 150;    
}

/* Testimony */

