/* Showcase */

#showcase{
    display: flex;
    gap: min(50px, 5vw);
    color: var(--main-dark);
}

@media only screen and (max-width: 768px) {
    #showcase{
        display: block;
    }
    #showcaseText{
        margin: 0;
        margin-bottom: min(50px, 5vw);        
    }
    #showcaseImage{
        margin-bottom: min(50px, 5vw);
    }
}

#showcaseText{
    flex: 2;
    margin-top: 40px;
}

#showcaseImage{
    flex: 3;
}


#showcaseText p{
    font-size: 18px;
}

#showcaseImage img{
    width: 100%;
    display: block;
}